fastapi
uvicorn[standard]
pandas
transformers>=4.40,<5.0
huggingface-hub>=0.34,<1.0
torch
accelerate
sentencepiece
einops
openai
tqdm
faiss-cpu
sentence-transformers
requests
datasets
langchain-openai
ragas
